// Page
.page {
  margin-bottom: 20px;
}

.page-image-box {
  background: hsla(0, 0%, 100%, 0);
  &.reveal-in {
    .page-image {
      opacity: 1;
    }
  }
}

.page-image {
  min-height: 230px;
  margin-bottom: 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $black;
  box-shadow: 0 9px 18px 0 rgba(0,0,0,0.25);
  opacity: 0;
   transition: all 0.25s cubic-bezier(0.6, 0.3, 0, 1);
  &:after {
    content: "";
    display: table;
    width: 100%;
    padding-top: 50%;
  }
}

.page-content {
  padding: 40px 15px;
  box-shadow: 0 9px 18px 0 rgba(0,0,0,0.25);
  background: rgba($white, .95);
}

.page-head {
  padding-bottom: 30px;
  .page-title {
    font-size: 28px;
    text-align: center;
    font-weight: normal;
    line-height: 28px;
    margin-bottom: 0;
  }
}

.page-head, .page-body {
  margin-bottom: 20px;
}

.page-body {
  padding-bottom: 20px;
}

@media only screen and (min-width: 576px) {
  .page-content {
    padding: 40px;
  }

  .page-head {
    .page-title {
      font-size: 43px;
      line-height: 43px;
      margin-bottom: 10px;
    }
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}